<p>
  <strong>Manufacturer:</strong>
  <%= @deskphone.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @deskphone.equipmentModel %>
</p>



<p>
  <strong>Serial Number:</strong>
  <%= @deskphone.serialNumber %>
</p>
 

<p>
  <strong>Host Name:</strong>
  <%= @deskphone.macAddress %>
</p>

 
<p>
  <strong>Department:</strong>
  <%= @deskphone.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @deskphone.location %>
</p>
 
<p>
  <strong>Assigned to:</strong>
  <%= @deskphone.assigneeName %>
</p>

<p>
  <strong>Status:</strong>
  <%= @deskphone.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @deskphone.notes %>
</p>

 
<%= link_to 'Back', deskphones_path %>