<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
<%= link_to 'Desktops', desktops_path %><br>
<%= link_to 'Smartphones', smartphones_path %><br>
<%= link_to 'Laptops', laptops_path %><br>
<%= link_to 'DTUs', dtus_path %><br>
<%= link_to 'Deskphones', deskphones_path %><br>
<%= link_to 'Toner', toners_path %><br>
<%= link_to 'Printer Drums', printerdrums_path %><br>
<%= link_to 'Waste Containers',wastecontainers_path %><br>


