<p>
  <strong>Manufacturer:</strong>
  <%= @wastecontainer.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @wastecontainer.equipmentModel %>
</p>

<p>
  <strong>ID:</strong>
  <%= @wastecontainer.wasteId %>
</p>
 
<p>
  <strong>Quantity:</strong>
  <%= @wastecontainer.quantity %>
</p>
 
<%= link_to 'Back', wastecontainers_path %>