<p>
  <strong>Manufacturer:</strong>
  <%= @toner.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @toner.equipmentModel %>
</p>

<p>
  <strong>Color:</strong>
  <%= @toner.color %>
</p>

<p>
  <strong>ID:</strong>
  <%= @toner.replacementId %>
</p>
 
<p>
  <strong>Quantity:</strong>
  <%= @toner.quantity %>
</p>
 
<%= link_to 'Back', toners_path %>