<h1>EDITING SMARTPHONE</h1>
 
<%= form_for :smartPhone, url: smartphone_path(@smartPhone), method: :patch do |smartphone| %>

  <p>
    <%= smartphone.label :Type %>
    <%= smartphone.text_field :equipmentType %>
  </p>
 
  <p>
    <%= smartphone.label :manufacturer %>
    <%= smartphone.text_field :manufacturer %>
  </p>

  <p>
    <%= smartphone.label :equipmentModel %>
    <%= smartphone.text_field :equipmentModel %>
  </p>

  <p>
    <%= smartphone.label :carrier %>
    <%= smartphone.text_field :carrier %>
  </p>

  <p>
    <%= smartphone.label :phoneNumber %>
    <%= smartphone.text_field :phoneNumber %>
  </p>

  <p>
    <%= smartphone.label :serialNumber %>
    <%= smartphone.text_field :serialNumber %>
  </p>

  <p>
    <%= smartphone.label :meid %>
    <%= smartphone.text_field :meid %>
  </p>

  <p>
    <%= smartphone.label :macAddress %>
    <%= smartphone.text_field :macAddress %>
  </p>

  <p>
    <%= smartphone.label :department %>
    <%= smartphone.text_field :department %>
  </p>

  <p>
    <%= smartphone.label :location %>
    <%= smartphone.text_field :location %>
  </p>

  <p>
    <%= smartphone.label :assigneeName %>
    <%= smartphone.text_field :assigneeName %>
  </p>

  <p>
    <%= smartphone.label :status %>
    <%= smartphone.text_field :status %>
  </p>

  <p>
    <%= smartphone.label :Notes %>
    <%= smartphone.text_area :notes %>
  </p>
 
  <p>
    <%= smartphone.submit %>
  </p>

<% end %>