<h1>Listing Equipment</h1>
 
<table>
  <tr>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Jslgtag</th>
    <th>Location</th>
    <th>Assignedto</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>

<tbody> 
  <% @smartPhone.each do |smartphone| %>
    <tr>
      <td><%= smartphone.manufacturer %></td>
      <td><%= smartphone.equipmentModel %></td>
      <td><%= smartphone.jslgTag %></td>
        <td><%= smartphone.location %></td>
        <td><%= smartphone.assigneeName %></td>
        <td><%= smartphone.status %></td>
        <td><%= link_to 'Show', smartphone_path(smartphone) %></td>
        <td><%= link_to 'Edit', edit_smartphone_path(smartphone) %></td>
        <td><%= link_to 'Destroy', smartphone_path(smartphone),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<tbody>
</table>