<p>
  <strong>Manufacturer:</strong>
  <%= @smartPhone.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @smartPhone.equipmentModel %>
</p>

<p>
  <strong>JSLG Tag:</strong>
  <%= @smartPhone.carrier %>
</p>
 
<p>
  <strong>Service Tag:</strong>
  <%= @smartPhone.phoneNumber %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @smartPhone.serialNumber %>
</p>
 
<p>
  <strong>OS Type:</strong>
  <%= @smartPhone.meid %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @smartPhone.macAddress %>
</p>
 
<p>
  <strong>RAM:</strong>
  <%= @smartPhone.department %>
</p>

<p>
  <strong>HDD:</strong>
  <%= @smartPhone.location %>
</p>
 
<p>
  <strong>Department:</strong>
  <%= @smartPhone.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @smartPhone.location %>
</p>
 
<p>
  <strong>Assigned to:</strong>
  <%= @smartPhone.assigneeName %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @smartPhone.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @smartPhone.notes %>
</p>

 
<%= link_to 'Back', smartphones_path %>