<p>
  <strong>Manufacturer:</strong>
  <%= @smartphone.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @smartphone.equipmentModel %>
</p>

<p>
  <strong>JSLG Tag:</strong>
  <%= @smartphone.carrier %>
</p>
 
<p>
  <strong>Service Tag:</strong>
  <%= @smartphone.phoneNumber %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @smartphone.serialNumber %>
</p>
 
<p>
  <strong>OS Type:</strong>
  <%= @smartphone.meid %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @smartphone.macAddress %>
</p>
 
<p>
  <strong>RAM:</strong>
  <%= @smartphone.department %>
</p>

<p>
  <strong>HDD:</strong>
  <%= @smartphone.location %>
</p>
 
<p>
  <strong>Department:</strong>
  <%= @smartphone.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @smartphone.location %>
</p>
 
<p>
  <strong>Assigned to:</strong>
  <%= @smartphone.assigneeName %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @smartphone.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @smartphone.notes %>
</p>

 
<%= link_to 'Back', smartphones_path %>