<p>
  <strong>Manufacturer:</strong>
  <%= @printerdrum.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @printerdrum.equipmentModel %>
</p>

<p>
  <strong>ID:</strong>
  <%= @printerdrum.drumId %>
</p>
 
<p>
  <strong>Quantity:</strong>
  <%= @printerdrum.quantity %>
</p>
 
<%= link_to 'Back', printerdrums_path %>