<p>
  <strong>Manufacturer:</strong>
  <%= @desktop.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @desktop.equipmentModel %>
</p>

<p>
  <strong>JSLG Tag:</strong>
  <%= @desktop.jslgTag %>
</p>
 
<p>
  <strong>Service Tag:</strong>
  <%= @desktop.manufacturerTag %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @desktop.serialNumber %>
</p>
 
<p>
  <strong>OS Type:</strong>
  <%= @desktop.osType %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @desktop.hostName %>
</p>
 
<p>
  <strong>RAM:</strong>
  <%= @desktop.ram %>
</p>

<p>
  <strong>HDD:</strong>
  <%= @desktop.hdd %>
</p>
 
<p>
  <strong>Department:</strong>
  <%= @desktop.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @desktop.location %>
</p>
 
<p>
  <strong>Assigned to:</strong>
  <%= @desktop.assigneeName %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @desktop.notes %>
</p>

 
<%= link_to 'Back', desktops_path %>