<h1>EDITING PRINTER</h1>
 
<%= form_for :printer, url: printer_path(@printer), method: :patch do |printer| %>
 
  <% if @printer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@printer.errors.count, "error") %> prohibited
        this printer from being saved:
      </h2>
      <ul>
        <% @printer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= printer.label :Type %>
    <%= printer.text_field :equipmentType %>
  </p>
 
  <p>
    <%= printer.label :manufacturer %>
    <%= printer.text_field :manufacturer %>
  </p>

  <p>
    <%= printer.label :equipmentModel %>
    <%= printer.text_field :equipmentModel %>
  </p>

  <p>
    <%= printer.label :jslgTag %>
    <%= printer.text_field :jslgTag %>
  </p>

  <p>
    <%= printer.label :serialNumber %>
    <%= printer.text_field :serialNumber %>
  </p>

  <p>
    <%= printer.text_field :ipAddress %>
  </p>

  <p>
    <%= printer.label :hostName %>
    <%= printer.text_field :hostName %>
  </p>

  <p>
    <%= printer.label :department %>
    <%= printer.text_field :department %>
  </p>

  <p>
    <%= printer.label :location %>
    <%= printer.text_field :location %>
  </p>

  <p>
    <%= printer.label :assigneeName %>
    <%= printer.text_field :assigneeName %>
  </p>

  <p>
    <%= printer.label :status %>
    <%= printer.text_field :status %>
  </p>

  <p>
    <%= printer.label :notes %>
    <%= printer.text_area :notes %>
  </p>
 
  <p>
    <%= printer.submit %>
  </p>
 
<% end %>
 

<%= link_to 'Back', printers_path %>