<p>
  <strong>Manufacturer:</strong>
  <%= @printer.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @printer.equipmentModel %>
</p>

<p>
  <strong>JSLG Tag:</strong>
  <%= @printer.jslgTag %>
</p>
 
<p>
  <strong>JSLG Tag:</strong>
  <%= @printer.manufacturerTag %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @printer.serialNumber %>
</p>
 
<p>
  <strong>IP Address:</strong>
  <%= @printer.ipAddress %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @printer.hostName %>
</p>
 
<p>
  <strong>Department:</strong>
  <%= @printer.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @printer.location %>
</p>
 
<p>
  <strong>Assigned to:</strong>
  <%= @printer.assigneeName %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @printer.notes %>
</p>

 
<%= link_to 'Back', printers_path %>