<p>
  <strong>Manufacturer:</strong>
  <%= @laptop.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @laptop.equipmentModel %>
</p>

<p>
  <strong>JSLG Tag:</strong>
  <%= @laptop.jslgTag %>
</p>
 
<p>
  <strong>Service Tag:</strong>
  <%= @laptop.manufacturerTag %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @laptop.serialNumber %>
</p>
 
<p>
  <strong>OS Type:</strong>
  <%= @laptop.osType %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @laptop.hostName %>
</p>
 
<p>
  <strong>RAM:</strong>
  <%= @laptop.ram %>
</p>

<p>
  <strong>HDD:</strong>
  <%= @laptop.hdd %>
</p>
 
<p>
  <strong>Department:</strong>
  <%= @laptop.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @laptop.location %>
</p>
 
<p>
  <strong>Assigned to:</strong>
  <%= @laptop.assigneeName %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @laptop.notes %>
</p>

 
<%= link_to 'Back', laptops_path %>