<h1>NEW DESKTOP</h1>

<%= form_for :dtu, url: dtus_path do |dtu| %>
  <p>
    <%= dtu.label :Type %>
    <%= dtu.text_field :equipmentType %>
  </p>
 
  <p>
    <%= dtu.label :manufacturer %>
    <%= dtu.text_field :manufacturer %>
  </p>

  <p>
    <%= dtu.label :equipmentModel %>
    <%= dtu.text_field :equipmentModel %>
  </p>

  <p>
    <%= dtu.label :jslgTag %>
    <%= dtu.text_field :jslgTag %>
  </p>

  <p>
    <%= dtu.label :manufacturerTag %>
    <%= dtu.text_field :manufacturerTag %>
  </p>

  <p>
    <%= dtu.label :serialNumber %>
    <%= dtu.text_field :serialNumber %>
  </p>

  <p>
    <%= dtu.label :macAddress %>
    <%= dtu.text_field :macAddress %>
  </p>

  <p>
    <%= dtu.label :hostName %>
    <%= dtu.text_field :hostName %>
  </p>

  <p>
    <%= dtu.label :department %>
    <%= dtu.text_field :department %>
  </p>

  <p>
    <%= dtu.label :location %>
    <%= dtu.text_field :location %>
  </p>

  <p>
    <%= dtu.label :assigneeName %>
    <%= dtu.text_field :assigneeName %>
  </p>

  <p>
    <%= dtu.label :status %>
    <%= dtu.text_field :status %>
  </p>

  <p>
    <%= dtu.label :notes %>
    <%= dtu.text_area :notes %>
  </p>
 
  <p>
    <%= dtu.submit %>
  </p>
<% end %>