<p>
  <strong>Manufacturer:</strong>
  <%= @dtu.manufacturer %>
</p>
 
<p>
  <strong>Model:</strong>
  <%= @dtu.equipmentModel %>
</p>

<p>
  <strong>JSLG Tag:</strong>
  <%= @dtu.jslgTag %>
</p>
 
<p>
  <strong>Service Tag:</strong>
  <%= @dtu.manufacturerTag %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @dtu.serialNumber %>
</p>
 
<p>
  <strong>MAC Address:</strong>
  <%= @dtu.macAddress %>
</p>

<p>
  <strong>Host Name:</strong>
  <%= @dtu.hostName %>
</p>
 
 
<p>
  <strong>Department:</strong>
  <%= @dtu.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @dtu.location %>
</p>
 
<p>
  <strong>Assigned to:</strong>
  <%= @dtu.assigneeName %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dtu.notes %>
</p>

 
<%= link_to 'Back', dtus_path %>